@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
        <img class="sidebar-image" src="img/vikingo.png" alt="vikingo"/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
