<div class="top-row navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand me-0 navbar-sub" href="">Gestiona tu Vikingo</a>
    </div>
</div>